<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Create New Category</h1>
  </div>
    <div class="panel-body">
      <%= form_for @category do |f| %>
        <div class='form-group'>
          <%= f.label "Category Name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>         
        <%= f.submit(@category.new_record? ? 'Create Category' : 'Update Category', class: 'btn btn-success')%>
      <% end %>
    </div>
</div>

